<!DOCTYPE html>
<html lang="en"xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css"
      xmlns="http://www.w3.org/1999/html"/>
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-sm-2 col-sm-offset-2"></div>
        <div class="col-sm-3">
            <form action=""  method="post" th:object="${pso}" th:action="@{/foo/redel}"/>
            <div class="form-group">
                <label>ID:</label>
                <input class="form-control" type="text" th:field="*{pso.idp}" />
                <td th:if="${#fields.hasErrors('pso.idp')}" th:errors="*{pso.idp}">ID Error</td>
            </div>

            <br>
            <div class="col-sm-offset-4 form-group">
                <button type="submit" class="btn btn-success">Submit</button>
            </div>
            </form>
        </div>
    </div>
</div>
</body>
</html>